@import './normalize.less';
@import './variables.less';
@import './responsive-width.less';
@import './style.less';

@import './buttons/index.less';

@import './header.less';
@import './side-bar.less';
@import './login-form.less';

/*----------delete this!-------*/
.list {
    width: 300px;
    padding-top: 18px;
    background-color: #97A6A3;

    .list-item {
        span {
            display: initial;
            color: white;
            font-size: 12px;
            margin-bottom: 10px;
            margin-top: 0;
            padding-left: 10px;
            font-family: Helvetica;
        }
    }
    span {
        display: block;
        width: 100%;
        color: white;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
        margin-top: 0;
        padding-left: 10px;
        font-family: Helvetica;
    }
}
/*------------------*/
